<div class="container">
    <h1>Product List
            <a [routerLink]="['/product-create']">
                <i style="font-size:30px" class="fa">&#xf067;</i>
              </a>
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Product Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.productName }}</td>
                <td>{{ product.productDescription}}</td>
                <td>{{ product. amount}}</td>
                <td><a [routerLink]="['/product-details', product._id]">Show Detail</a></td>
            </tr>
        </tbody>
    </table>
</div>